# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.eggs/

# Environments
.venv/
venv/
.env

# Tooling / IDE
.idea/
.vscode/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/
